body {
    margin: 0;
    padding: 0;
}

button#randomise {
    position: absolute;
    background-color: black;
    z-index: 99999;
    text-align: center;
    color: white;
    left: 1em;
    bottom: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button#randomise:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

button#musicBtn {
    position: absolute;
    background-color: black;
    z-index: 99999;
    text-align: center;
    color: white;
    left: 50%; /* Center the button horizontally */
    bottom: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translateX(-50%); /* Adjust for the button's width to truly center it */
}

button#musicBtn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}